name: "Publish"

on:
  release:
    types: [released] # triggered on main branch releases

jobs:
  publish_to_chrome_web_store:
    name: "Publish To Chrome Web Store"
    runs-on: ubuntu-latest
    steps:
      - name: "游띑 Checkout"
        uses: actions/checkout@v4
      - name: "游닌 Download Latest Release Asset"
        uses: ./.github/actions/download-latest-release-asset
        with:
          asset_prefix: "kibisis-chrome"
          github_token: ${{ secrets.READ_AND_WRITE_REPOS_TOKEN }}
      - name: "游 Publish"
        uses: ./.github/actions/publish-to-chrome-web-store
        with:
          # set in the Settings > Secrets and variables > Actions > Secrets
          item_id: ${{ vars.CHROME_WEB_STORE_ITEM_ID }}
          client_id: ${{ secrets.CHROME_WEB_STORE_API_CLIENT_ID }}
          client_secret: ${{ secrets.CHROME_WEB_STORE_API_CLIENT_SECRET }}
          refresh_token: ${{ secrets.CHROME_WEB_STORE_API_REFRESH_TOKEN }}
          zip_file_name: kibisis-chrome.zip

  publish_to_micorsoft_edge_add_ons:
    name: "Publish To Microsoft Edge Add-ons"
    runs-on: ubuntu-latest
    steps:
      - name: "游띑 Checkout"
        uses: actions/checkout@v4
      - name: "游닌 Download Latest Release Asset"
        uses: ./.github/actions/download-latest-release-asset
        with:
          asset_prefix: "kibisis-edge"
          github_token: ${{ secrets.READ_AND_WRITE_REPOS_TOKEN }}
      - name: "游 Publish"
        uses: ./.github/actions/publish-to-microsoft-edge-add-ons
        with:
          # set in the Settings > Secrets and variables > Actions > Secrets
          api_key: ${{ secrets.MICROSOFT_EDGE_ADD_ONS_API_KEY }}
          client_id: ${{ secrets.MICROSOFT_EDGE_ADD_ONS_API_CLIENT_ID }}
          product_id: ${{ vars.MICROSOFT_EDGE_ADD_ON_PRODUCT_ID }}
          zip_file_name: kibisis-edge.zip

# TODO: wait for first release on opera
#  publish_to_opera_add_ons:
#    name: "Publish To Opera Add-ons"
#    runs-on: ubuntu-latest
#    steps:
#      - name: "游띑 Checkout"
#        uses: actions/checkout@v4
#      - name: "游닌 Download Latest Release Asset"
#        uses: ./.github/actions/download-latest-release-asset
#        with:
#          asset_prefix: "kibisis-opera"
#          github_token: ${{ secrets.READ_AND_WRITE_REPOS_TOKEN }}
#      - name: "游 Publish"
#        uses: ./.github/actions/publish-to-opera-add-ons
#        with:
#          # set in the Settings > Secrets and variables > Actions > Secrets
#          email: ${{ secrets.OPERA_ADD_ONS_EMAIL }}
#          extension_id: ${{ vars.OPERA_ADD_ON_EXTENSION_ID }}
#          password: ${{ secrets.OPERA_ADD_ONS_PASSWORD }}
#          zip_file_name: kibisis-opera.zip

# TODO: ignore until firefox accept add-on submissions
#  publish_to_firefox_add_ons:
#    name: "Publish To Firefox Add-ons"
#    runs-on: ubuntu-latest
#    steps:
#      - name: "游띑 Checkout"
#        uses: actions/checkout@v4
#      - name: "游닌 Download Latest Release Asset"
#        uses: ./.github/actions/download-latest-release-asset
#        with:
#          asset_prefix: "kibisis-firefox"
#          github_token: ${{ secrets.WRITE_REPOS_TOKEN }}
#      - name: "游 Publish"
#        uses: ./.github/actions/publish-to-firefox-add-ons
#        with:
#          addon_id: ${{ vars.FIREFOX_ADD_ONS_ID }}
#          jwt_issuer: ${{ secrets.FIREFOX_ADD_ONS_API_JWT_ISSUER }}
#          jwt_secret: ${{ secrets.FIREFOX_ADD_ONS_API_JWT_SECRET }}
#          zip_file_name: kibisis-firefox.zip
